[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pelican = "*"
htmlparser = "*"
markdown = "*"
typogrify = "*"
pillow = "*"
"pysvg-py3" = "*"
"jinja2-time" = "*"
pyembed-markdown = "*"
pymdown-extensions = "*"
pygments = "*"


[dev-packages]

